<head>
    <script src="~/js/Monitor/login.js"></script>
    <link rel="stylesheet" href="~/css/monitor/login.css?after">
</head>

<body>
    <div class="title">
        재난 관리 관제 시스템
    </div>
    <div class="container">
        <form method="post">
            <button class="button" id="btn-1" asp-controller="PlanList" asp-action="Index">시작</button>
        </form>
    </div>
</body>

