

@{
    var planImage = "/images/plan.png";
    var sensorList = Model;
}

<head>
    <link rel="stylesheet" href="~/css/monitor/plan.css?after">
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Monitor/plan.js?after"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>


<body class="region_body">
    <div class="container">
        <div class="region_title">
            재난 관리 관제 시스템
        </div>
        <div class="region_monitor">
            <div class="region_plan_graph">
                <div class="region_plan" id="region_plan_id">
                    <div class="plan">
                        <img src="@planImage" style="border-radius: 20px;" alt="Sample Image" width="100%" height="100%">
                    </div>
                    @* 도면 안에 센서 *@
                    @* <div class="draggable" id="sensor_list_in_plan"> *@
                        
                            @* <div class="sensor_each_plan" id="sensor_id_plan">ID</div> *@
                        
                        @* <img src="~/images/img.png" class="drag" width="200px">
                            <img src="~/images/img.png" class="drag" width="200px">
                            <h1><b class="drag">Sensor</b></h1> *@
                    @* </div> *@
                    @* <img src="@~/images/img.png" alt="Sample Image" width="300px"> *@
                </div>
                <div class="region_graph">
                    <div class="chart_container">
                        <div class="flex-wrapper">
                            <div class="single-chart">
                                <svg viewBox="0 0 36 36" class="circular-chart orange">
                                    <path class="circle-bg" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" id="temp" stroke-dasharray="0, 100" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <text x="18" y="20.35" class="percentage" id="temp_value">0%</text>
                                </svg>
                                <div class="chart_name">온도</div>
                            </div>

                            <div class="single-chart">
                                <svg viewBox="0 0 36 36" class="circular-chart green">
                                    <path class="circle-bg" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" id="smoke" stroke-dasharray="0, 100" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <text x="18" y="20.35" class="percentage" id="smoke_value">0ºC</text>
                                </svg>
                                <div class="chart_name">연기</div>
                            </div>

                            <div class="single-chart">
                                <svg viewBox="0 0 36 36" class="circular-chart blue">
                                    <path class="circle-bg" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" id="gas" stroke-dasharray="0, 100" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <text x="18" y="20.35" class="percentage" id="gas_value">0%</text>
                                </svg>
                                <div class="chart_name">가스</div>
                            </div>

                            @* <div class="single-chart">
                                <svg viewBox="0 0 36 36" class="circular-chart red">
                                    <path class="circle-bg" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" stroke-dasharray="75, 100" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <text x="18" y="20.35" class="percentage">75%</text>
                                </svg>
                                <div class="chart_name">진동</div>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>

            <div class="region_sensor">
                @for (int i = 0; i < 12; i++)
                {
                    string temp = "temp";
                    string smoke = "smoke";
                    string gas = "gas";
                    string id = "id";

                    id += i.ToString();
                    temp += i.ToString();
                    smoke += i.ToString();
                    gas += i.ToString();

                    <a href="#" class="myButton" onclick=@(String.Format("onClickSensorItem({0})", i))>
                        <div class="sensor_id" id=@id>Sensor ID</div>
                        <div class="sensor_data_1">
                            <div class="sensor_data_temp" id=@temp>온도</div>
                            <div class="sensor_data_smoke" id=@smoke>연기</div>
                        </div>
                        <div class="sensor_data_2">
                            <div class="sensor_data_gas" id=@("gas" + i.ToString())>가스</div>
                            @* <div class="sensor_data_vib">진동</div> *@
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</body>

<style type="text/css">
    .drag {
        position: relative;
        cursor: hand;
        z-index: 100;
    }

</style>

<script type="text/javascript">

    @* var dragobject = {
        z: 0, x: 0, y: 0, offsetx: null, offsety: null, targetobj: null, dragapproved: 0,
        initialize: function () {
            document.onmousedown = this.drag
            document.onmouseup = function () { this.dragapproved = 0 }
        },
        drag: function (e) {
            var evtobj = window.event ? window.event : e
            this.targetobj = window.event ? event.srcElement : e.target
            if (this.targetobj.className == "drag") {
                this.dragapproved = 1
                if (isNaN(parseInt(this.targetobj.style.left))) { this.targetobj.style.left = 0 }
                if (isNaN(parseInt(this.targetobj.style.top))) { this.targetobj.style.top = 0 }
                this.offsetx = parseInt(this.targetobj.style.left)
                this.offsety = parseInt(this.targetobj.style.top)
                this.x = evtobj.clientX
                this.y = evtobj.clientY
                if (evtobj.preventDefault)
                    evtobj.preventDefault()
                document.onmousemove = dragobject.moveit
                console.log("move" + this.x);
            }
        },
        moveit: function (e) {
            var evtobj = window.event ? window.event : e
            if (this.dragapproved == 1) {
                this.targetobj.style.left = this.offsetx + evtobj.clientX - this.x + "px"
                this.targetobj.style.top = this.offsety + evtobj.clientY - this.y + "px"
                
                return false
            }   
        },
        move: function (x, y) {
            this.targetobj.style.left = x + "px"
            this.targetobj.style.top = y + "px"
        }
    }

    dragobject.initialize()

    $(function(){
        $(".draggable").draggable();
    }); *@
</script>